@import url("https://fonts.googleapis.com/css?family=Open+Sans|Roboto:400,700&display=swap");

:root {
  --clr-white: #fff;
  --clr-primary: #282c34;
  --clr-black: #222;
  --clr-dark-grey: #7f8b8f;
  --clr-orange: #ebb85c;

  --ff-primary: "Open Sans", sans-serif;
  --spacing: 0.25rem;
  --radius: 0.5vw;
  --light-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
  --dark-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
  --margin: 1rem;
  --padding: 0.5rem;
  --line-height: 1.5;
}

*,
::after,
::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: var(--ff-primary);
  background: var(--clr-black);
  color: var(--clr-white);
  line-height: var(--line-height);
  width: 100%;
  height: 100%;
}

.flex-column {
  display: flex;
  flex-direction: column;
}
.flex-row {
  display: flex;
}

.width-100 {
  width: 100vw;
}

.text-align-left {
  text-align: left;
}

li {
  color: white;
}

.App {
  text-align: center;
}

.app-container {
  max-width: 96%;
  margin-left: auto;
  margin-right: auto;
}

.container-flex-row {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 3rem;
  margin-bottom: 3rem;
}

.container-large {
  width: 95%;
  max-width: 1500px;
  color: white;
  margin: 2rem auto;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.link {
  margin-top: 2rem;
}
.link:visited {
  color: var(--clr-white);
}

.loader {
  border: 16px solid #f3f3f3;
  border-radius: 50%;
  border-top: 16px solid var(--clr-dark-grey);
  width: 140px;
  height: 140px;
  animation: spin 2s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

@media (min-width: 576px) {
  .app-container {
    max-width: 540px;
  }
}
@media (min-width: 768px) {
  .app-container {
    max-width: 720px;
  }
}
@media (min-width: 992px) {
  .app-container {
    max-width: 960px;
  }
}
@media (min-width: 1200px) {
  .app-container {
    max-width: 1140px;
  }
}
@media (min-width: 1400px) {
  .app-container {
    max-width: 89%;
  }
}
