@import url("https://fonts.googleapis.com/css?family=Open+Sans|Roboto:400,700&display=swap");

:root {
  --clr-white: #fff;
  --clr-primary: #282c34;
  --clr-black: #222;
  --clr-dark-grey: #7f8b8f;

  --ff-primary: "Open Sans", sans-serif;
  --spacing: 0.25rem;
  --radius: 0.5vw;
  --light-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
  --dark-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
  --margin: 0.5rem;
}

*,
::after,
::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: var(--ff-primary);
  background: var(--clr-black);
  color: var(--clr-white);
  line-height: 1.5;
  width: 100%;
  height: 100%;
}

.App {
  text-align: center;
}

.App-header {
  background-color: #282c34;
  height: 100px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.container {
  width: 100%;
  color: white;
  padding-right: var(--bs-gutter-x, 0.75rem);
  padding-left: var(--bs-gutter-x, 0.75rem);
  margin-right: auto;
  margin-left: auto;
  display: flex;
  flex-direction: row;
  overflow-x: auto;
}
.card {
  width: 150px;
  height: 230px;
  margin-bottom: 2vh;
  padding-right: 0.5rem;
  padding-left: 0.5rem;
  display: flex;
  flex-direction: column;
  justify-content: center;

  cursor: pointer;
}
.card img {
  width: 130px;
  border-radius: var(--radius);
}
@media (min-width: 576px) {
  .container {
    max-width: 540px;
  }
}
@media (min-width: 768px) {
  .container {
    max-width: 720px;
  }
}
@media (min-width: 992px) {
  .container {
    max-width: 960px;
  }
}
@media (min-width: 1200px) {
  .container {
    max-width: 1140px;
  }
}
@media (min-width: 1400px) {
  .container {
    max-width: 1320px;
  }
}

.loader {
  border: 16px solid #f3f3f3;
  border-radius: 50%;
  border-top: 16px solid var(--clr-dark-grey);
  width: 140px;
  height: 140px;
  -webkit-animation: spin 2s linear infinite; /* Safari */
  animation: spin 2s linear infinite;
}

/* Safari */
@-webkit-keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
  }
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
