@import url("https://fonts.googleapis.com/css?family=Open+Sans|Roboto:400,700&display=swap");

:root {
  --clr-white: #fff;
  --clr-primary: #282c34;
  --clr-black: #222;
  --clr-dark-grey: #7f8b8f;
  --clr-orange: #ebb85c;

  --ff-primary: "Open Sans", sans-serif;
  --spacing: 0.25rem;
  --radius: 0.5vw;
  --light-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
  --dark-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
  --margin: 0.5rem;
}

*,
::after,
::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: var(--ff-primary);
  background: var(--clr-black);
  color: var(--clr-white);
  line-height: 1.5;
  width: 100%;
  height: 100%;
}

.flex-column {
  display: flex;
  flex-direction: column;
}
.flex-row {
  display: flex;
}

.text-align-left {
  text-align: left;
}
.App {
  text-align: center;
}

/* Header Component Styles  */

.App-header {
  background-color: var(--clr-black);
  height: 10%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  font-size: calc(10px + 2vmin);
  color: white;
}
.logo {
  display: flex;
  align-items: center;
  width: 20%;
}
.logo-img {
  width: 30%;
}
.logo-title {
  margin-left: 0px;
  color: white;
}
.search-img {
  width: 40px;
}
.search-icon {
  margin-left: auto;
  margin-right: 100px;
  width: 40px;
  background-color: var(--clr-black);
}
.nav-link {
  text-decoration: none;
}
.nav-link:visited {
  color: var(--clr-white);
}

/* Search Component Styles  */
.search-wrapper {
  max-width: 50%;
  height: 5vh;
  margin: auto;
  background-color: var(--clr-orange);
  padding: 2px;
  display: flex;
  margin-bottom: 15px;
}
.search-wrapper .search-form {
  height: 100%;
  width: 100%;
  font-size: 1rem;
  margin-bottom: 2px;
}

.search-wrapper .search-form .search-input {
  display: inline-block;
  width: 100%;
  height: 100%;
  border: none;
}

.search-input:active {
  border: none;
}

/* Styles for  titles those are genre of movies in home page */
.main-page-title {
  text-align: left;
  margin-top: 1%;
  margin-left: 1%;
}

/* Filmstrip Component Styles  */

/* Container style in home page */
.container {
  width: 100%;
  color: white;
  padding-right: 0.75rem;
  padding-left: 0.75rem;
  margin-right: auto;
  margin-left: auto;
  display: flex;
  flex-direction: row;
  overflow-x: auto;
}

/* Container style in search page */
.container-search {
  width: 100%;
  color: white;
  padding-right: 0.75rem;
  padding-left: 0.75rem;
  margin-right: auto;
  margin-left: auto;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}
.card {
  width: 150px;
  height: 200px;
  margin-bottom: 2vh;
  padding-right: 0.5rem;
  padding-left: 0.5rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  cursor: pointer;
  transition: transform 0.1s;
  position: relative;
}
.card:hover {
  transform: scale(1.1);
}
.card:hover .overlay {
  opacity: 1;
}
.card img {
  width: 135px;

  border-radius: var(--radius);
}
.overlay {
  display: flex;
  justify-content: space-around;
  align-items: flex-end;
  background-color: rgba(0, 0, 0, 0.8);
  /* background-color: var(--clr-black); */
  height: 20%;
  width: 135px;
  border-bottom: var(--radius);
  color: white;
  position: absolute;
  bottom: 0;
  transition: 0.5 ease;
  opacity: 0;
}
.overlay .favorite-icon {
  width: 20px;
}
.overlay .average-vote-count {
  width: 25%;
}

/* Poster Component  */

.movie-detail-poster {
  max-width: 25vw;
}
li {
  color: white;
}

@media (min-width: 576px) {
  .container {
    max-width: 540px;
  }
}
@media (min-width: 768px) {
  .container {
    max-width: 720px;
  }
}
@media (min-width: 992px) {
  .container {
    max-width: 960px;
  }
}
@media (min-width: 1200px) {
  .container {
    max-width: 1140px;
  }
}
@media (min-width: 1400px) {
  .container {
    max-width: 1320px;
  }
}

.loader {
  border: 16px solid #f3f3f3;
  border-radius: 50%;
  border-top: 16px solid var(--clr-dark-grey);
  width: 140px;
  height: 140px;
  animation: spin 2s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
