.vote-average {
  width: 2rem;
  height: 1.5rem;
  border: 1px solid var(--clr-orange);
  font-size: 0.9rem;
  text-align: center;
  line-height: var(--line-height);
}

.green {
  color: rgb(57, 199, 57);
  border: 1px solid rgb(57, 199, 57);
}

.vote-average-text {
  margin: auto;
}
