.App-header {
  background-color: var(--clr-black);
  padding-top: 10px;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  height: 10%;
  display: flex;
  flex-wrap: wrap-reverse;
  /* flex-direction: column-reverse; */
  justify-content: space-around;
  align-items: center;
  font-size: 0.9rem;
  color: white;
  margin-bottom: 2rem;
}
.logo {
  margin-top: 0.5rem;
  display: flex;
  align-items: center;
  width: 100%;
  max-width: 350px;
}
.logo-img {
  width: 25%;
  min-width: 50px;
}
.logo-title {
  margin-left: 0px;
  font-size: 2rem;
  color: white;
}

.main-nav {
  width: 100%;
  max-width: 200px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-top: auto;
  margin-left: auto;
}

.search-img {
  width: 30px;
}

.nav-link {
  text-decoration: none;
}
.nav-link:visited {
  color: var(--clr-white);
}
@media (min-width: 1200px) {
  .logo-title {
    font-size: 2.5rem;
  }
}
