.movie-detail-container {
  width: 100%;
  font-size: 0.8rem;
  margin-left: auto;
  margin-right: auto;
  max-width: 1500px;
  display: flex;
  flex-wrap: wrap;
  line-height: 1.5rem;
}
.movie-detail-container em {
  font-size: 1.2rem;
}
.movie-detail-container p {
  text-align: left;
}
/* .movie-detail-img-container {
  max-width: 250px;
  margin: auto;
}

.movie-detail-img-container img {
  width: 100%;
} */

.movie-detail-poster {
  width: 10%;
  min-width: 200px;
  margin: auto;
}
.movie-detail-text {
  width: 70%;
  max-width: 1000px;
  display: flex;
  flex-direction: column;
  padding: 0.5rem;
  margin: auto;
}
