.movie-detail-container {
  width: 98%;
  font-size: 1rem;
  margin-top: 2rem;
  margin-left: auto;
  margin-right: auto;
  max-width: 1500px;
  display: flex;
  flex-wrap: wrap;
  line-height: 2rem;
  text-align: left;
}

.movie-detail-title {
  font-size: 1.5rem;
}

.movie-detail-container em {
  font-size: 1.1rem;
  margin-top: var(--margin);
  margin-bottom: var(--margin);
}

.movie-detail-poster {
  width: 25%;
  min-width: 15rem;
  margin: auto;
}
.movie-detail-text-container {
  width: 60%;
  min-width: 20rem;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  padding: 0.3rem;
  margin: auto;
}

.date-genre-duration-container {
  width: 20rem;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-top: var(--margin);
}

.date-genre-duration-container p {
  margin-right: 0.3rem;
}

.user-control {
  display: flex;
  flex-wrap: wrap;
  width: 20rem;
  justify-content: space-between;
  align-items: center;
  margin-right: auto;
  margin-top: var(--margin);
}
.play-btn {
  cursor: pointer;
  color: white;
  border: none;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 8rem;
  font-size: 0.8rem;
  background-color: transparent;
}
.play-btn:hover {
  background-color: white;
  color: var(--clr-orange);
  border: 1px solid var(--clr-orange);
  border-radius: var(--radius);
}

.trailer-container {
  width: 90%;
  max-width: 1400px;
  margin-top: 2rem;
  margin-left: auto;
  margin-right: auto;
}
