.movie-card {
  width: 10rem;
  height: 16.5rem;
  margin-left: var(--margin);
  margin-bottom: var(--margin);
  border: solid orange 1px;
  padding: var(--padding);
  display: flex;
  flex-direction: column;
  justify-content: center;
  cursor: pointer;
  transition: transform 0.1s;
}
.poster-link {
  height: 13rem;
}

.watchList-search {
  width: 13rem;
  height: 21rem;
}

.movie-card:hover {
  transform: scale(1.08);
  scroll-behavior: auto;
}

.movie-card .overlay {
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.8);
  height: 2.5rem;
  width: 100%;
  color: white;
}
.watch-list-icon {
  width: 1.2rem;
  height: 1.2rem;
  margin-right: 2rem;
}

.add-list {
  background-color: transparent;
  border: none;
  color: white;
  margin-top: auto;
  margin-bottom: auto;
}
