.select-page {
  width: 7rem;
  color: orange;
}

.page-controllers-container {
  width: 95%;
  max-width: 25rem;
  display: flex;
  justify-content: center;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 1.5rem;
}
button {
  width: 5rem;
  height: 2.5rem;
  background-color: var(--clr-orange);
  margin: auto;
}

button:hover {
  color: var(--clr-orange);
  background-color: white;
}
