.row {
  width: 98%;
  padding-left: 6px;
  color: white;
  padding-bottom: 20px;
  margin-right: auto;
  margin-left: auto;
  display: flex;
  flex-direction: column;
}
.row-movie-cards {
  width: 100%;
  display: flex;
  overflow-x: auto;
  overflow-y: hidden;
}

.row-title {
  text-align: left;
  font-size: 1.1rem;
  margin-bottom: 0.5rem;
}

@media (min-width: 768px) {
  .row {
    width: 95%;
  }
}

@media (min-width: 1400px) {
  .row {
    width: 88%;
  }
}
