.row {
  width: 98%;
  padding-left: 6px;
  color: white;
  padding-bottom: 20px;
  margin-right: auto;
  margin-left: auto;
  display: flex;
  flex-direction: column;
}

.row-movie-cards {
  width: 100%;
  display: flex;
  overflow-x: auto;
  overflow-y: hidden;
}

.row-title {
  text-align: left;
  font-size: 1.1rem;
  margin-bottom: 0.5rem;
}

.movie-card {
  width: 9%;
  min-width: 150px;
  max-height: 40%;
  margin-right: 12px;
  padding: 5px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  cursor: pointer;
  transition: transform 0.1s;
  border: pink 1px solid;

  /* position: relative; */
}
.movie-card:hover {
  transform: scale(1.08);
  scroll-behavior: auto;
}
/* .card:hover .overlay {
    opacity: 1;
  } */
.movie-card .poster-link {
  width: 100%;
}
.movie-card .overlay {
  display: flex;
  justify-content: space-around;
  align-items: flex-end;
  background-color: rgba(0, 0, 0, 0.8);
  /* background-color: white; */
  height: 10%;
  min-height: 30px;
  width: 100%;
  color: white;
}
.overlay .favorite-icon {
  width: 10px;
}
.overlay .average-vote-count {
  width: 10px;
}

@media (min-width: 768px) {
  .row {
    width: 95%;
  }
}

@media (min-width: 1400px) {
  .row {
    width: 88%;
  }
}
