.row {
  width: 100%;
  padding-left: 6px;
  color: white;
  padding-bottom: 20px;
  margin-right: auto;
  margin-left: auto;
  display: flex;
  flex-direction: column;
}
.row-movie-cards {
  width: 100%;
  display: flex;
  overflow-x: auto;
  overflow-y: hidden;
}

.row-title {
  margin-left: var(--margin);
  text-align: left;
  font-size: 1.1rem;
  margin-bottom: 0.5rem;
}
