.search-wrapper {
  width: 90%;
  max-width: 750px;
  height: 3rem;
  margin: auto;
  background-color: var(--clr-orange);
  padding: 2px;
  display: flex;
  margin-bottom: 15px;
}
.search-wrapper .search-form {
  height: 100%;
  width: 100%;
  font-size: 1rem;
  margin-bottom: 2px;
}

.search-wrapper .search-form .search-input {
  padding-left: 5px;
  display: inline-block;
  width: 100%;
  height: 100%;
  border: none;
}
.container-search {
  color: white;
  margin-right: auto;
  margin-left: auto;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}
